<<<<<<< HEAD
﻿@model WebApplication2.Models.Product

<h2>Delete Product</h2><br/>

<h5>Are you sure you want to delete this product?</h5>

<p><strong>Product Id:</strong> @Model.ProductId</p><br/>
<p><strong>Product Name:</strong> @Model.ProductName</p><br/>
<p><strong>Price:</strong> @Model.Price</p><br/>
<p><strong>Category:</strong> @Model.Category</p><br/>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductId" />
    
    <button type="submit" class="btn btn-success">Delete</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
=======
﻿@model WebApplication2.Models.Product

<h2>Delete Product</h2><br/>

<h5>Are you sure you want to delete this product?</h5>

<p><strong>Product Id:</strong> @Model.ProductId</p><br/>
<p><strong>Product Name:</strong> @Model.ProductName</p><br/>
<p><strong>Price:</strong> @Model.Price</p><br/>
<p><strong>Category:</strong> @Model.Category</p><br/>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductId" />
    
    <button type="submit" class="btn btn-success">Delete</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
>>>>>>> 5e4ba3d69eecab8d2944084ab49d3ed4ddd91899
